<div class="button @(Style is not null ? Style : null)" @onclick="(e) => ClickEvent(e)">@Text</div>

@code
{
    [Parameter]
    public string Text { get; set; } = default!;

    [Parameter]
    public string? Style { get; set; }

    [Parameter]
    public EventCallback<bool> OnClick { get; set; }    

    protected async Task ClickEvent(MouseEventArgs e)
    {
        await OnClick.InvokeAsync(true);
    }
}