@using Sny.Web.Model
@inject NavigationManager _navManager

<div id="footer">
    <div class="btn-group">
    @foreach (var btn in Buttons)
    {
        var title = btn.Title;
        var onClick = btn.Action;
        <Button Text="@title" Style="secondary" OnClick="() => onClick()"></Button>
    }
    </div>
</div>

@code
{
    [Parameter]
    public IEnumerable<HeaderButton> Buttons { get; set; } = Enumerable.Empty<HeaderButton>();
}