.goal {
    border: 3px solid rgb(var(--secondaryColor));
    padding: 1.5em;
    border-radius: var(--borderRadius);
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "state title"
        "description description"
        "button button";
    column-gap: .5em;
    row-gap: 4em;
    cursor: pointer;
}
.goal.active {
    border-color: rgb(var(--highlightColor));
}
    .goal:hover {
        background-color: rgb(var(--greyShadow);
    }
.goal .state {    
    grid-area: state;
}
.goal .state i {
    cursor: pointer;
}
    .goal .state i:hover {
        color: rgb(var(--highlightColor));
    }
.goal.active .state i{
    color: rgb(var(--highlightColor));
}

.goal .title {
    grid-area: title;
    font-weight: bold;
    padding-right: 4.5em;
}
.goal .description {
    grid-area: description;
}
.goal ::deep .button {
    grid-area: button;
    background-color: rgb(var(--secondaryColor));
    padding: .5em .7em;
    border-radius: var(--borderRadius);
    text-align: center;
    justify-self: end;
    align-self: end;
}
.goal ::deep .button:hover {
    background-color: rgba(var(--secondaryColor), 0.9);
}
.goal.active ::deep .button {
    background-color: rgb(var(--highlightColor));
}
.goal.active ::deep .button:hover {
    background-color: rgba(var(--highlightColor), 0.9);
}