@using Sny.Api.Dtos.Models.Goals
@using Sny.Web.Services.BackendProvider
@inject NavigationManager _navManager
@inject HttpClient Http
@inject IBackendProvider _backendProvider

<div @onclick="() => GoToDetail()" class="goal @(Goal.Active ? "active" : null)">
    <div @onclick:stopPropagation @onclick="() => ChangeActive()" class="state"><i class="fa-sharp fa-solid fa-record-vinyl"></i></div>
    <div class="title">@Goal.Name</div>    
    <div class="description">@Goal.Description</div>
    <Button Text="Zobrazit" ></Button>
</div>

@code
{
    [Parameter]
    public GoalDto Goal { get; set; } = default!;

    private void GoToDetail() {
        _navManager.NavigateTo($"/goals/{Goal.Id}");
    }

    private async Task ChangeActive()
    {
        Goal = Goal with { Active = !Goal.Active };
        await Http.PostAsync(_backendProvider.GetUri($"goals/{Goal.Id}/activate/{Goal.Active}"), null);
    }
}