<div class="goal @(IsActive ? "active" : null)">
    <div class="state"><i class="fa-sharp fa-solid fa-record-vinyl"></i></div>   
    <div class="title">Být sexy</div>    
    <div class="description">Být nařachaná svině se sixpackem a vlasy jako Ježíš.</div>
    <div class="button">Zobrazit</div>
</div>

@code {
    [Parameter]
    public bool IsActive { get; set; } 
}