@using Sny.Web.Model

<div id="header">
    <h1>@Title</h1>
    <div class="btn-group">
        @foreach (var btn in Buttons)
        {
            var title = btn.Title;
            var onClick = btn.Action;
            <Button Text="@title" Style="highlight" OnClick="() => onClick()"></Button>
        }
    </div>
</div>

@code
{
    [Parameter]
    public string Title { get; set; } = default!;

    [Parameter]
    public IEnumerable<HeaderButton> Buttons { get; set; } = Enumerable.Empty<HeaderButton>();
}