#header {
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    background-color: rgba(var(--greyShadowColor));
    grid-area: header;
    align-items: center;
    padding: 0 10%;
}

#header h1 {
    outline: none;
}

#header .btn-group {
    display: flex;
    gap: 0.6em;
    align-items: baseline;
}