@using Sny.Web.Services.BackendProvider
@using Sny.Web.Services.UserContext
@inject IUserContext UserContext
@inject NavigationManager _navManager
@inject IBackendProvider _backendProvider

<div id="LoggedUserBar">
    @if (_logged)
    {
        <div>@_userName</div>
        <div>
            <Button Text="Odhlásit se" Style="secondary" OnClick='() => _navManager.NavigateTo("/login?logout=true")'></Button>
        </div>
    }
</div>

@code {

    private string _userName = string.Empty;

    private bool _logged = false;

    protected override Task OnInitializedAsync()
    {
        UserContext.StateChanged += Refresh;
        Refresh();
        return Task.CompletedTask;
    }

    private void Refresh()
    {
        _userName = UserContext.Email;
        _logged = UserContext.IsLoggedIn;
        this.StateHasChanged();
    }

    public void Dispose()
    {
        UserContext.StateChanged -= Refresh;
    }
}
