@using Sny.Web.Services.BackendProvider
@using Sny.Web.Services.UserContext
@inject IUserContext UserContext
@inject NavigationManager _navManager
@inject IBackendProvider _backendProvider

<div id="LoggedUserBar">
    @if (_logged)
    {
        <div>@_userName</div>
        <div>
           <a @onclick="() => Logout()">Odhlásit se</a>
       </div>
    }
</div>

@code {

    private string _userName = string.Empty;

    private bool _logged = false;

    private void Logout() 
    {
        UserContext.Logout();
    }

    protected override Task OnInitializedAsync()
    {
        UserContext.StateChanged += Refresh;
        Refresh();
        return Task.CompletedTask;
    }

    private void Refresh()
    {
        if (!_backendProvider.DoNotCheck)
        {
            if (!UserContext.IsLoggedIn && !_navManager.Uri.EndsWith("login"))
                _navManager.NavigateTo("login");
        }

        _userName = UserContext.Email;
        _logged = UserContext.IsLoggedIn;
        this.StateHasChanged();
    }

    public void Dispose()
    {
        UserContext.StateChanged -= Refresh;
    }
}
