<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset} {$projectName}</title>

	<link rel="stylesheet"
		  href="{$basePath}/assets/css/prelude.css?{$version}"
		  media="screen,projection,tv">
</head>

<body class="bg-body">
	<div class="container-fluid text-center">
		{snippet flashes}
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissible fade show" role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				{$flash->message}
			</div>
		{/snippet}

		<script src="{$basePath}/assets/js/jquery.js?{$version}"></script>
		<script src="{$basePath}/assets/js/prelude.js?{$version}"></script>

		{include content}
	</div>
</body>
</html>
