:root {
	--color-orange: 233, 148, 18;
	--color-green: 0, 162, 103;
	--color-purple: 121, 40, 173;
	--color-black: 31, 30, 35;
	--bs-gutter-y: 1.5rem;
}


form {
	border-radius: 5px;
	border: 1px solid var(--bs-border-color);
	padding: 20px;
}

.form-control {
	border-color: var(--bs-border-color);
}