@using Sny.Web.Components
@inherits LayoutComponentBase

<div class="page">
    <LoggedUser UserName="Kristýna Bartošová"></LoggedUser>
    <Header></Header>
    <main>
        <article>
            @Body
        </article>
    </main>
</div>
