@page "/goals"
@using Microsoft.AspNetCore.Authorization
@using Sny.Api.Dtos.Models.Goals
@using Sny.Web.Components;
@using Services.BackendProvider
@using Sny.Web.Model
@inject IBackendProvider _backendProvider
@inject NavigationManager _navManager
@attribute [Authorize]

<Header Title="Cíle" Buttons="HeaderButtons()"></Header>

<div id="goals">
    @if(_goals is null)
    {
        <Loading></Loading>
    }
    else
    {
        foreach (var goal in _goals.OrderByDescending(d => d.Active))
        {
            <GoalPreview Goal="goal"></GoalPreview>
        }
    }
</div>

@if (_goals is not null)
{
    <Footer Buttons="FooterButtons()"></Footer>
}

@code
{
    private IEnumerable<GoalDto>? _goals;

    protected override async Task OnInitializedAsync()
    {
        _goals = (await _backendProvider.GetGoals()).ThrowWhenUnsuccessful().Data;
    }

    private IEnumerable<HeaderButton> HeaderButtons() 
    {
        yield return new HeaderButton("Přidat cíl", async () => await AddNewGoal());
    }

    private async Task AddNewGoal() 
    {
        AddRequestGoalDto addGoal = new AddRequestGoalDto("Nový cíl", false, "Popisek cíle. Můžete napsat třeba svojí motivaci, proč stojíte o dosáhnutí vybraného cíle.");
        var responseObject = (await _backendProvider.AddGoal(addGoal)).ThrowWhenUnsuccessful().Data;
        _navManager.NavigateTo($"goals/{responseObject.Id}");
    }

    private IEnumerable<HeaderButton> FooterButtons()
    {
        yield return new HeaderButton("Zpět na Dashboard", () => _navManager.NavigateTo("/"));
    }
}