button
{
    padding: 10px;
    margin: 10px 0px;
    cursor: pointer;
}

.gridEditTask {
    display: grid;
    grid-template-columns: min-content min-content auto min-content;
    grid-auto-rows: max-content;
    align-items: center;
    column-gap: 5px;
}

.taskHeader {
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
}
