@page "/goals"
@using Sny.Api.Dtos.Models.Goals
@using Sny.Web.Components;
@using Services.BackendProvider
@inject HttpClient Http
@inject IBackendProvider _backendProvider

<div id="page">
    <div id="goals">
    @if(_goals is null)
    {
        <Loading></Loading>
    }
    else
    {
        foreach (var goal in _goals)
        {
            <GoalPreview></GoalPreview>
        }
    }
    </div>
</div>

@code
{
    private IEnumerable<GoalDto>? _goals;

    protected override async Task OnInitializedAsync()
    {
        _goals = await Http.GetFromJsonAsync<GoalDto[]>(_backendProvider.GetUri("goals"));
    }
}