#goals {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(max, minmax(400px, auto));
    grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
    grid-gap: 2em;
}
::deep .goal {
    border: 3px solid var(--secondaryColor);
    padding: 1.5em;
    border-radius: var(--borderRadius);
    display: grid;
    grid-gap: 2em;
}
::deep .goal.active {
    border-color: var(--highlightColor);
}
::deep .goal .title {
    font-weight: bold;
    justify-self: start;
}
::deep .goal .description {
    margin-top: auto;
}
::deep .goal .button {
    background: var(--secondaryColor);
    justify-self: end;
    padding: .4em .6em;
    border-radius: var(--borderRadius);
    align-self: end;
}
::deep .goal.active .button {
    background: var(--highlightColor);
}