@page "/goals"
@using Sny.Web.Components;

<div id="page">
    <div id="goals">
        <GoalPreview IsActive=true></GoalPreview>
        <GoalPreview></GoalPreview>
        <GoalPreview></GoalPreview>
        <GoalPreview></GoalPreview>
        <GoalPreview></GoalPreview>
        <GoalPreview></GoalPreview>
        <GoalPreview></GoalPreview>
        <GoalPreview></GoalPreview>
        <GoalPreview></GoalPreview>
        <GoalPreview></GoalPreview>
        <GoalPreview></GoalPreview>
        <GoalPreview></GoalPreview>
        <GoalPreview></GoalPreview>
        <GoalPreview></GoalPreview>
        <GoalPreview></GoalPreview>
        <GoalPreview></GoalPreview>
        <GoalPreview></GoalPreview>
        <GoalPreview></GoalPreview>
    </div>
</div>


@code {

}