@page "/goals/{Id:guid}"
@using Sny.Web.Components
@inject NavigationManager _navManager

<PageTitle>Detail cíle</PageTitle>

<Header Title="Detail cíle"></Header>
<div class="content"><TextInput></TextInput>
</div>


<p>@Id</p>

@code {
    [Parameter]
    public Guid Id { get; set; }
}