button
{
    padding: 10px;
    margin: 10px 0px;
    cursor: pointer;
}

.gridEditTask{
    display: grid;
    grid-template-columns: 50px 110px auto 25px;
    grid-auto-rows: 50px;
    align-items: center;
}

.taskHeader {
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
}
