@page "/"
@inject NavigationManager _navManager

<PageTitle>Dashboarad</PageTitle>

<h1>Dashboard</h1>

<button @onclick='() => GoTo("/goals")'>Moje cíle</button>

@code {
    public void GoTo(string relativePath) {
        _navManager.NavigateTo(relativePath);
    }
}