@page "/"
@using Sny.Web.Components
@using Sny.Web.Model
@inject NavigationManager _navManager

<Header Title="Dashboard" Buttons="HeaderButtons()"></Header>
<div class="content">
</div>
@code {
    private IEnumerable<HeaderButton> HeaderButtons()
    {
        yield return new HeaderButton("Nastavit cíle", () => _navManager.NavigateTo("goals"));
    }
}
