@page "/"
@inject NavigationManager _navManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<button @onclick='() => GoTo("/goals")'>Goals</button>

@code {
    public void GoTo(string relativePath) {
        _navManager.NavigateTo(relativePath);
    }
}