
@page "/login"
@using Sny.Api.Dtos.Models.Accounts
@using Sny.Web.Components
@using Sny.Web.Services.UserContext
@using Services.BackendProvider
@inject NavigationManager _navManager
@inject IBackendProvider _backendProvider
@inject IUserContext _userContext


<Header Title="Login"></Header>

<div class="login-panel">

    <p class="login-title">Prosím, přihlašte se</p>
    <div class="login-form">
        <div>
          <p>Email:</p>
          <TextInput Type="text" @bind-Value="Email"></TextInput>
        </div>
        <div>
          <p>Heslo:</p>
            <TextInput Type="password" @bind-Value="Password"></TextInput>
        </div>
        <Button OnClick="() => TryLogin()" Style="secondary" Text="Přihlásit se"></Button>
        @if (LoginErrorMessage is not null) {
            <p class="msg msg-error">
                @LoginErrorMessage
            </p>
        }
    </div>
</div>


@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "Jwt")]
    public string? Jwt { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "returnUrl")]
    public string? ReturnUrl { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "logout")]
    public bool? Logout { get; set; }

    private string Email { get; set; } = default!;

    private string Password { get; set; } = default!;

    private string? LoginErrorMessage { get; set; } = default!;

    private async Task TryLogin()
    {
        LoginRequestDto loginDto = new LoginRequestDto(Email, Password);
        var response = await _backendProvider.Login(loginDto);

        if (!response.Response.IsSuccessStatusCode) 
        {
            Password = string.Empty;
            LoginErrorMessage = "Nepodařilo se přihlásit.";
            return;
        }

        await _userContext.Login(response.Data.Jwt);

        _navManager.NavigateTo(ReturnUrl ?? "/");
    }

    protected override async Task OnInitializedAsync()
    {
        if (Logout.HasValue && Logout == true) 
        {
            await _userContext.Logout();
            _navManager.NavigateTo("/");
            return;
        }

        if (Jwt != null ) 
        {
            await _userContext.Login(Jwt);
            _navManager.NavigateTo("/");
        }
        else
        {
            await _userContext.Logout();
            this.StateHasChanged();
        }
    }
}
