
@page "/login"
@using Sny.Web.Components
@using Sny.Web.Services.UserContext
@inject NavigationManager NavManager
@inject IUserContext UserContext

<Header Title="Login"></Header>

<div style="grid-area: content">
  <p>Nejste přihlášen.</p>
  <p>Prosím přihlaste se.</p>
</div>


@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "Jwt")]
    public string? Jwt { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Jwt != null ) 
        {
            await UserContext.Login(Jwt);
            NavManager.NavigateTo("/");
        }
        else {
            UserContext.Logout();
            this.StateHasChanged();
        }
    }
}
