
.login-title {
    font-size: 1.6em;
}

.login-panel {
    grid-area: content;
    display: grid;
    place-items: center;
    align-content: baseline;
    gap: 2rem;
}

.login-form {
    width: 100%;
    max-width: 500px;
    display: grid;
    gap: 20px;
}

.msg {

}

.msg-error {
    color: red;
}