:root {
	--color-orange: rgba(233, 148, 18, 1);
	--color-green: rgba(0, 162, 103, 1);
	--color-purple: rgba(121, 40, 173, 1);
	--color-black: rgba(31, 30, 35, 1);
	--color-almost-black: rgba(41, 39, 44, 1);
	--color-white: rgba(255, 255, 255, 1);

}
@media (min-width: 576px) {
	.modal {
		--bs-modal-margin: max(calc(50vh - 157px) ,0px);
	}
}


.modal {
	--bs-modal-bg: var(--color-black);
	--bs-modal-footer-gap : 0rem;
	--bs-modal-padding: 1.5rem;
	--bs-modal-header-padding: 1.5rem;
}

.mb-45 {
	margin-bottom: 2rem;
}
.rotate1 {
	transform: rotate(25deg);
	-moz-transform: rotate(25deg);
	-webkit-transform: rotate(25deg);
	-ms-transform: rotate(5deg);
}
.rotate2 {
	transform: rotate(-25deg);
	-moz-transform: rotate(-25deg);
	-webkit-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
}

.alert {
	--bs-alert-border-radius: 0;
	--bs-alert-margin-bottom: 0;
}

.form-control, .form-control:focus, .form-control:active,
.input-group-text
{
	background-color: var(--color-almost-black);
}

.form-control:focus
{
	border-color: var(--color-purple);
	box-shadow: none;
}

.wh100 {
	min-height: calc(100vh - 10rem);
}

.siter>div {
	margin-bottom: 10rem;
	display: flex!important;
	align-items: center!important;
	justify-content: center!important;
}

.form-control::placeholder,
.form-control::-webkit-input-placeholder {
	color: var(--color-white) !important;
	opacity: 0.5;
}

.siter>div {
	text-align: center;
}

.bg-black {
	background-color: var(--color-black) !important;
}

#alerts>div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


::-webkit-scrollbar { width: 1px; }
::-webkit-scrollbar-track {	background: var(--color-black); }
::-webkit-scrollbar-thumb {	background: var(--color-green); }
::-webkit-scrollbar-thumb:hover { background: var(--color-green); }

.text-white,
.form-control,
.input-group-text,
.form-control:focus,
.form-control:active
{
	color: var(--color-white)!important;
}

.siter>div>div,
.siter>div>form,
.border {
	border-radius: 1.5rem;
	padding: 1.5rem;
}

.siter>div img
{
	width: 100%!important;
	border-radius: .375rem;
}
.siter>div>div,
.siter>div>form {
	width: 100%!important;
}

.navbar {
	--bs-navbar-brand-hover-color: var(--color-white);
	background-color: var(--color-almost-black);
	--bs-navbar-brand-color: --color-white;
}

.btn-purple {
	--bs-btn-hover-bg: var(--color-purple);
	--bs-btn-color: #fff;
	--bs-btn-bg: var(--color-purple);
	--bs-btn-border-color: var(--color-purple);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-border-color: var(--color-purple);
	--bs-btn-focus-shadow-rgb: 60,153,110;
	--bs-btn-active-color: var(--color-white);
	--bs-btn-active-bg: var(--color-purple);
	--bs-btn-active-border-color: var(--color-purple);
	--bs-btn-active-shadow: inset 0 3px 5px var(--color-black);
	--bs-btn-disabled-color: var(--color-white);
	--bs-btn-disabled-bg: var(--color-purple);
	--bs-btn-disabled-border-color: var(--color-purple);
}

.btn-green {
	--bs-btn-hover-bg: var(--color-green);
	--bs-btn-color: #fff;
	--bs-btn-bg: var(--color-green);
	--bs-btn-border-color: var(--color-green);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-border-color: var(--color-green);
	--bs-btn-focus-shadow-rgb: 60,153,110;
	--bs-btn-active-color: var(--color-white);
	--bs-btn-active-bg: var(--color-green);
	--bs-btn-active-border-color: var(--color-green);
	--bs-btn-active-shadow: inset 0 3px 5px var(--color-black);
	--bs-btn-disabled-color: var(--color-white);
	--bs-btn-disabled-bg: var(--color-green);
	--bs-btn-disabled-border-color: var(--color-green);
}